h1{
    text-align: center;
}

.result{
    font-size: 20px;
    margin-top: 0px;
}

button{
    height: 35px;
    width: 35px;
    margin: 3px;
}

input{
    height: 25px;
    width: 150px;
}

#numOneDiv{
    margin-bottom: 15px;
}

#numTwoDiv{
    margin-top: 15px;
    margin-bottom: 15px;
}

form{
    display: flex;
    flex-direction: column;
    margin-right: 75px;
}

section{
    display:flex;
    flex-direction: column;
    margin-right: 75px;
    margin-left: 75px;
}

#outsideContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}